* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.screen {
  display: flex;
  height: 100vh;
}
.leftSide {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftSide img {
  max-width: 600px;
  height: auto;
}
.rightSide {
  width: 400px;
  background-color: #ddd;
  padding: 50px;
}

.rightSide label {
  display: block;
  margin-bottom: 20px;
}
.rightSide input {
  padding: 8px;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 14px;
  width: 100%;
  outline: 0;
}

.error {
  color: #fff;
  background-color: #ff0000;
  font-size: 11px;
  padding: 4px;
}
